<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        {{> main}}
        <div class="about-intro">
            <div class="about-header">lover of startups, comedy, and coffee</div>
            <div class="about-headshot"></div>
            <div class="about-des">
                Hey, I'm Ingrid! I'm a web designer based in Miami, Florida.
            </div>
            <div class="about-des">I graduated from Brown University with a BA in Computer Science, where I studied everything from shortest-path algorithms to digital animation.</div>
            <div class="about-des">I'm currently a creative technologist at Universal Music Group, where I get to spend my days working on websites and Snapchat lenses for digital marketing!</div>
            <div class="about-whatido">what i do</div>
            <div class="about-what">Web Developement (JavaScript, React, Java)</div>
            <div class="about-what">Digital Design & Motion Graphics</div>
            <div class="about-what">User Experience Design</div>
            <div class="about-what">Graphic Design & Branding</div>
        </div>
        <div class="about-next">
            <div class="about-ready">ready to see what's next?</div>
            <a class="about-chat" href="/contact">let's chat</a>
        </div>
        {{> footer}}
    </body>
</html>