<!DOCTYPE html>
<html lang="en">
    <!-- {{> main}} -->
    <%- include partials/main.ejs %>
    <body>
        <div class="home">
            <div class="decor"></div>
            <div class="home-case">
                <div class="home-box">
                    <div class="typewriter">
                        <h1>Hey, I'm Ingrid! I'm a</h1>
                    </div>
                    <div class="typewriter-1">
                        <h1>UI/UX designer</h1>
                    </div>
                    <div class="typewriter-2">
                        <h1>living in San Francisco.</h1>
                    </div>
                </div>
                <a class="home-button" href="/work">recent work</a>
                <a class="home-button" href="/contact">let's chat</a>
            </div>
        </div>
        {{> footer}}
    </body>
</html>